*.py[co]
__pycache__
*.egg-info

__azurite_*.json
__blobstorage__/
__queuestorage__/
__tablestorage__/

src/api/dev.db
src/api/dev.db-journal
local.settings.json

# Ignore virtual environment directory
.venv/
